<div class="col-12 col-lg-4 pt-5 mb-5">
    <div class="member shadow text-center rounded">
        <div class="member-profile">
            <img class="rounded-circle shadow-sm" src="{{ site.url }}/assets/team/catia.jpg" alt="Cátia Vaz" />
        </div><!--//member-profile-->
        <div class="member-info p-4 p-lg-5">
            <div class="member-name">Cátia Vaz</div>
            <div class="member-title">Software Engineer</div>
            <br>
            <ul class="social-list list-unstyled mb-2">
                <li class="list-inline-item"><a class="google" href="http://scholar.google.pt/citations?user=okG7pz8AAAAJ&hl=pt-PT" target="_blank"><i class="fas fa-graduation-cap"></i></a></li>
                <li class="list-inline-item"><a class="linkedin" href="https://pt.linkedin.com/in/catiavaz" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
            </ul><!--//social-list-->
        </div><!--//member-info-->
    </div><!--//member-profile-->
</div><!--//col-->